@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "poppins";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 30%, #80D0C7 100%);
}
@keyframes animate {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}
.container{
    width: 65%;
    height: 550px;
    margin-top: 20px;
    position: absolute;
    
    background-image: linear-gradient(180deg, #bcddf0 30%, #a8f1e9 100%);
    border-radius:20px ;
    animation: animate 4s ease-in-out infinite ;
    
}
.form_box p {
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    padding:10px 0px;
    color: rgb(150, 148, 148);
}
.form_box p  a {
    text-decoration: none;
    color:#1FAB89;
    font-weight: bolder;
    font-size: 1.1rem;
    border: none;
}
#form{
    padding-top: 20px;
    margin-top: 30px;
    
}
#form label {
    font-family: 'Comfortaa', cursive;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px 0px;
    color: #999c9a;
}
#form input {
    border:none;
    border-bottom:3px solid #1FAB89;
    width: 350px;
    margin: 10px 0px;
    outline: none;
    font-size: 1rem;
    padding: 5px 0px;  
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    background-color: transparent;
    margin-bottom: 30px;
}

#btn1{
    margin-bottom: 12px;
    text-align: center;
    padding:10px 60px ;
    position: relative;
    left: 80px;
    color: #fff;
    background-color: rgb(70, 70, 70);
    border:none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    transition: 0.2s;

}
#btn1:hover {
    background-position: right center;
    color:rgb(70, 70, 70);
    background-color: #fff;
    text-decoration: none;
    transform: translateY(-3px);
    
    
}
.other{
    padding:10px 0px;
}

.logoimg{
    position:absolute;
    height: auto;
    top: 20px;
    width: 80px;
    
}
.namelogoimg{
    position:absolute;
    height: auto;
    top: 75px;
    margin-top: 20px;

    width: 120px;
}
.item{
    position: absolute;
    width: 58%;
    height: 100%;
    left: 0;
    top: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content{
    position: relative;
    height: 510px;
    width: 515px;
    background-color: transparent;
    border-radius: 20px;
    object-fit: cover;
    

}
.login{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    

}
.form_box{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}

.input_box{
    
    height: 25px;
    width: 70%;
    border-bottom: 2px solid #242323;
    position: relative;
    margin: 20px 0;
    cursor: pointer;
}
.input_box input{

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
    color: #060606;
}
.input_box label{
    
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 400;
    color: #888;
    pointer-events: none;
    transition: ease .5s;
}
.input_box input:focus ~ label,
.input_box input:valid ~ label{
    top: -5px;

}
         
.term{
    margin-right: 10rem;
    margin-bottom: 10px;
}
.term label{
    font-size: 15px;
    font-weight: 500 ;
    color: #888;
    

}
.term label input{
    accent-color: #fff;
    margin-right: 3px;
    position: relative;
    cursor: pointer;
    
    
}
 
.account-login{
    margin-top: 10px;
}

.account-login label{
    color: #575757;
    font-size: 13px;
    font-weight: 400;
    
    
}
.account-login label a{
    font-weight: 600;
    
}
.swiper {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.imgs{
    height: 300px;
    width: 300px;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social_icon {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

    
}
.social_icon li{
    list-style: none;
}
.social_icon li a {
    font-size: 2em;
    margin: 0 20px;
    display: inline-block;
    transition: 0.2s;

}
.social_icon li a:hover{
    transform: translateY(-5px);
    color:rgb(70, 70, 70);
}